<footer>
    <div class="wrapper">
        <div class="inner">
            <div class="info-block">
                <div class="footer-title">Контакты</div>
                <ul class="contacts-list">
                    <li class="list-item">
                        <img class="item-img" src="icons/phone-alt.svg" alt="tel">
                        <a href="tel:+380123456789">+(38) 012 345 6789</a>
                    </li>
                    <li class="list-item">
                        <img class="item-img" src="icons/envelope.svg" alt="gmail">
                        <a href="mailto:example@gmail.com">example@gmail.com</a>
                    </li>
                    <li class="list-item">
                        <img class="item-img" src="icons/facebook.svg" alt="facebook">
                        <a href="">Facebook</a>
                    </li>
                    <li class="list-item">
                        <img class="item-img" src="icons/instagram.svg" alt="instagram">
                        <a href="">Instagram</a>
                    </li>
                    <li class="list-item">
                        <img class="item-img" src="icons/telegram.svg" alt="telegram">
                        <a href="">Telegram</a>
                    </li>
                </ul>
            </div><!--/.info-block-->

            <div class="info-block">
                <div class="footer-title">Правовая информация</div>
                <ul class="contacts-list">
                    <li class="list-item">
                        <a href="">Публичная оферта</a>
                    </li>
                    <li class="list-item">
                        <a href="">Политика конфиденциальности</a>
                    </li>
                    <li class="list-item">
                        <a href="">Оплата и доставка</a>
                    </li>
                    <li class="list-item">
                        <a href="">Возврат денежных средств</a>
                    </li>
                </ul>
            </div><!--/.info-block-->

            <div class="info-block">
                <div class="footer-title">Партнеры</div>
                <ul class="contacts-list">
                    <li class="list-item">
                        <img class="partner-img" src="img/visa.svg" alt="visa">
                    </li>
                    <li class="list-item">
                        <img class="partner-img" src="img/mastercard.svg" alt="mastercard">
                    </li>
                </ul>
            </div><!--/.info-block--> 
        </div>  

        <div class="social-media">
            <div class="text">Мы в социальных сетях:</div>
            <a href=""><img src="icons/instagram.svg" alt="instagram"></a>
            <a href=""><img src="icons/facebook.svg" alt="facebook"></a>
        </div>

        <div class="copyright">
            <a href="/">&copy; 2020 InterplanetaryMall</a>
        </div>
        
    </div><!--/.wrapper-->

</footer>

<script src="js/main-slider.js"></script>
<script src="js/price.js"></script>
<script src="js/delete.js"></script>